pre {
	border-radius:15px;
}

.code-cntr {
	/*margin-top:25px;*/
}

.tablewrapper {
	overflow-x: auto;
}

table,tr,td {
	border:1px solid grey;
	border-collapse: collapse;
}

td {
	padding: 15px;
}

tr:first-of-type {
	background-color: var(--secondary);
	color:white;
	/*font-weight: 600;*/
}

tr:first-of-type > td {
	border-top: 1px solid var(--secondary);
	border-bottom: 1px solid var(--secondary);
}

tr:first-of-type > td:not(:last-child), td.first-col {
	border-right: 1px solid var(--bkgd);
}

tr:first-of-type > td:last-child {
	border-right: 1px solid var(--secondary);
}

tr:first-of-type > td:first-child, td.first-col {
	border-left: 1px solid var(--secondary);
}

td.first-col {
	background-color: var(--secondary);
	color:white;
}

tr:not(:first-of-type) td.first-col {
	border-top: 1px solid var(--bkgd);
	border-bottom: 1px solid var(--secondary);

}

tr:first-of-type td.first-col {
	border-top: 1px solid var(--secondary);
	border-bottom: 1px solid var(--bkgd);
}

:not(pre) > code {
	background-color: #f5f2f0;
	border: 0.1px solid #eee;
	padding: 0.1em;
	box-sizing: content-box;
	font-size: large;
}

small code {
	font-size: small;
}


/*
a:link, a:visited {
	color: var(--main);
}
a:hover {
	color: var(--secondary);
}
*/
/*
#select-lang .label {
	display:none;
	padding:7px;
	margin: auto;
	width:100%;
}

#select-lang button {
	border-radius:5px;
	height:50px;
	background-color: var(--bkgd);
	text-align: center;
	display:inline-block;
	margin:10px;

	border:1px solid black;
	box-shadow: 0.5px 0.5px 2px grey;  
	outline:none;
	position: relative;
}

#select-lang button:active {
	box-shadow: none;
	left: 0.5px;
	top: 0.5px;
}


#select-lang img {
	height:30px;
  	vertical-align: -10px;
}

#select-lang {
	display:block;
}

.java, .cpp, .py, .js, .posh {
	display: none;
}

@media screen and (max-width: 550px) {
	#select-lang > *:not(.label)  {
		display: none;
	}
	#select-lang > .label  {
		display: inline-block;
	}

	#select-lang {
		border: 1px solid black;
		text-align: center;
	}

	#select-lang > button {
		width:100%;
		margin: 0;
		border-radius: 0;
		border:1px solid black;
		border-width: 1px 0 0;
	}
}*/
