/*colour variables*/
:root {
  /* primary */
  --main: #694d45;
  /*--main2: #8d570f;*/
  /* secondary */
  --secondary: #7e858b;
  --lgt-main: #986a2f;
  --alt-main: #e8a041;
  /* background */
  --bkgd: #fafafa;
  /*--text: var(--main);*/
  --link: var(--lgt-main);
  --hover: #5d414d;
  --gry: #636261;
  --lgt-gry: #d6cfc8;
}
