form {
  display: inline-flex;
  flex-flow: column wrap;
  border: 1px solid grey;
  border-radius: 5px;
  position: relative;
}
form .options {
  flex-flow: column wrap;
  position: absolute;
  width: 100%;
  transform: translateY(32px);
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  display: none;
}
form .options:last-child {
  border-bottom: 1px solid grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
form input {
  display: none;
}
form input:checked + label {
  color: white;
}
form label {
  display: inline-block;
}
form .choice {
  padding: 5px 16px;
  padding-left: 10px;
}
form > :first-child > :first-child::after {
  content: "";
  position: relative;
  left: 7px;
  top: 15px;
  width: 0;
  height: 0;
  clear: both;
  border: 3px solid transparent;
  border-top: 6px solid black;
  border-bottom: none;
}
