* {
    font-family: "Segoe UI", sans-serif;
}

body {
    padding: 0 60px;
    padding-top: 30px;
}

#name-block {
    text-align: center;
    font-size: 400%;
}

small {
    font-style:italic;
    color:grey;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
