@import url("https://fonts.googleapis.com/css?family=Work+Sans|Open+Sans&display=swap");
@import url("colours.css");
.no-select, nav * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bkgd);
  z-index: -1;
  margin: 0;
  position: relative;
  min-height: 100vh;
}
body > *:not(nav), body > *:not(footer) {
  padding: 0 5%;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  display: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

html {
  overflow-y: overlay;
  overflow-x: hidden;
}

.title, h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: var(--main);
}

h2 {
  font-weight: 600;
  color: black;
}

h3 {
  color: black;
}

li, small, option, label, td, footer, p, a {
  font-family: "Open Sans", sans-serif;
  color: var(--main);
}

td {
  color: black;
}

li {
  line-height: 210%;
}

p {
  line-height: 150%;
}
p.more-space {
  line-height: 200%;
}

p + ol, p + ul, h2 + ol, h2 + ul, .list {
  margin-top: -0.5em;
}

a, a:visited {
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid var(--link);
  transition: all 0.15s ease-out;
}

a:hover {
  color: var(--link);
  border-bottom: 1px solid transparent;
  transition: all 0.15s ease-out;
}

a.ignore {
  border: none;
}

a.menuitem, a.menuitem:visited {
  transition: all 0.1s ease-out;
  color: var(--main);
  border: none;
}
a.menuitem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.15em;
  margin-top: 1.5em;
  background: var(--main);
  transform: scaleX(0);
  transition: transform 0.1s ease-out;
}
a.menuitem:hover::before {
  transform: scaleX(1);
}
a.menuitem.ignore::before {
  transition: none;
}
a.menuitem.ignore:hover::before {
  transform: scaleX(0);
}

.title {
  font-size: calc(min((100vw - 240px) * 0.13,150%));
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}

@media (max-width: 550px) {
  .title {
    font-size: 1em;
  }
}
.title-cntr {
  margin-bottom: 25px;
  text-align: left;
  position: relative;
  font-size: 300%;
}
.title-cntr span {
  display: inline-block;
}
.title-cntr hr {
  background-color: var(--lgt-gry);
  max-width: 200px;
  height: 5px;
  margin: 0;
  border: 1px solid var(--lgt-gry);
}

.cntr {
  width: 100%;
  padding: 0 120px;
  padding-bottom: 60px;
}

@media screen and (max-width: 550px) {
  .cntr {
    padding: 0 5%;
    padding-bottom: 60px;
  }
}
.flex-cntr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  width: 100%;
  margin: 0;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid var(--main);
  box-shadow: 0px 4px 5px #ccc;
}
nav, nav a:link, nav a:active, nav a:visited {
  color: var(--main);
  text-decoration: none;
  transition: all 0.2s ease-out;
}
nav .menubar {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: inherit;
  justify-content: inherit;
}
nav .menuitem {
  font-family: "Open Sans", sans-serif;
  display: inline-flex;
  text-decoration-line: none;
  color: inherit;
  margin-left: 20px;
}
nav .menuham {
  display: none;
  cursor: pointer;
}
nav .nav-title {
  color: var(--main);
}

@media screen and (max-width: 550px) {
  nav {
    flex-direction: column;
  }
  nav .menubar {
    display: none;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px !important;
  }
  nav .menuitem {
    margin: 5px 0;
    margin-left: 0;
    width: 49%;
    justify-content: center;
  }
  nav .menuham {
    display: block;
  }
  nav .menu-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  nav .menu-logo > * {
    display: inline-flex;
  }
}
.italic {
  font-style: italic;
}

footer, #footer {
  width: 100%;
  margin: 0;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  background-color: var(--lgt-gry);
}
footer > *, #footer > * {
  display: flex;
  color: var(--main);
  opacity: 0.7;
}
footer .github-logo, #footer .github-logo {
  width: 20px;
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}
footer .github-logo:hover, #footer .github-logo:hover {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
