@import url('https://fonts.googleapis.com/css?family=Work+Sans|Open+Sans&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Lato|Titillium+Web&display=swap');*/
/*Ruda*/

/*colour variables*/
:root {
	/* primary */
	--main: #5d414d;

	/* secondary */
	--secondary: #7e858b;

	--lgt-main: #ccedd2;
	/*tbd*/
	/* background */
	--bkgd: #fafafa;
}

/*
coolors.co/79b791-abd1b9-edf4f0-1e5131-0f301c
*/


/* scrollbar? not very well supported */
html {
	overflow-y: overlay;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 6px;
}

body::-webkit-scrollbar-track {
	display: none;
}

body::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 10px;
}


* {
	box-sizing: border-box;
}

body {
	background-color: var(--bkgd);
	z-index: -1;
	margin: 0;
}

body > *:not(nav), body > *:not(footer) {
	padding:0 5%;
}

/*text styling*/

.title, h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Titillium Web', sans-serif;*/
	font-weight: 300;
	color:var(--main);
	/*font-weight: 600;*/
}

h2 {
	font-weight:600;
}

p, li, small, option, label, td, footer {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Lato', sans-serif;*/
}

li {
	line-height: 210%;
}

p {
	line-height: 150%;
}

a, a:visited {
	text-decoration: none;
	color: var(--main); 
	transition: all 0.2s ease-out;
	position:relative;
}

a::before {
	content: "";
	position: absolute;
	/*display:inline-block;*/
	width:100%;
	height: 0.15em;
	margin-top:1.5em;
	background: var(--main);
	transform: scaleX(0);
	transition: transform 0.1s ease-out;
}

a:hover::before {
	/*width:100%;*/
	transform: scaleX(1);
}

a:hover {
	/*text-decoration-line: none;*/
	/*color: var(--secondary); */
}

a.ignore::before {
	transition: none;
}

a.ignore:hover::before {
	transform: scaleX(0);
}

.intro, .title {
	/*text-align: center;*/
}

/*title*/

.title {
	font-size:150%;
	/*color:var(--main);*/
	/*font-weight: 700;*/
	display:inline-block;
	margin-bottom: 15px;

	position:relative;
	/* left property is due to font */
	/*left:-10px; */
}

@media (max-width: 550px) {
	.title {
		font-size: 1em;
	}
}

.title-cntr {
	/*display:inline-block;*/
	text-align: center;
	/*flex-direction: column;*/
	/*justify-content: center;*/
	/*margin:0 auto;*/
	margin-bottom: 25px;
	text-align:left;
	position:relative;
	/*left:5%;*/
	font-size:300%;
}

.title-cntr span {
	display:inline-block;
}

.title-cntr hr {
	position:relative; 
	/*top:-20px;*/
	/*top:-50px;*/
	opacity: 0.7;
	border-color: var(--main);
	background-color: var(--main);
	/*width: 62%;*/
	/*width:80%;*/
	max-width: 200px;
	height: 5px;
	/*margin: 0 auto;*/
	margin: 0;
}


/*containers*/

.cntr {
	padding: 0 120px;
	width:100%;
	padding-bottom: 60px;
}

body {
	position: relative;
	
}

@media screen and (max-width:550px) {
	.cntr {
		padding:0 5%;
	padding-bottom: 60px;
	}
}

.flex-cntr {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*menu bar*/

nav {
	width:100%;
	/*width:90%;*/
	margin:0;
	padding: 0 5%;
	/*margin: 0px 5%;*/
	display:flex;
	/*height:60px;*/
	flex-direction: row;
	align-items: center;
	/*align-content: center;*/
	justify-content: space-between;
	/*background-color: var(--main);*/
	border-bottom: 5px solid var(--main);
	box-shadow: 0px 4px 5px #ccc;
}

nav, nav a:link, nav a:active, nav a:visited   {
	/*color:white;*/
	color: var(--main);
	/*font-size:120%;*/
	text-decoration: none;
	transition: all 0.2s ease-out;
}

nav a:hover {
	/*color: var(--secondary);*/
}

.menubar {
	font-family:'Lato',sans-serif;
	flex-direction: inherit;
	display: flex;
	justify-content: inherit; /*space-between;*/
	min-width: 300px;
	/*font-weight:600;*/
}

.menuitem {
	text-decoration-line: none;
	display: inline-flex;
	color:inherit;
	font-family: 'Open Sans', sans-serif;
}

.menuham {
	display:none;
	cursor: pointer;
	/*transition: transform 0.5s ease-out;*/
}

nav * {
	user-select: none;
}

.menuham {
	/*transform: rotate(-90deg);*/
	/*transition: transform 0.5s ease-out;*/
}

.header-title {
	color: var(--main);
}

/*responsive menu bar*/

@media screen and (max-width: 550px) {
	nav {
		flex-direction: column;
	}

	.menubar {
		/*align-items: center;*/
		display:none;
		flex-direction:row;
		flex-wrap:wrap;
		/*text-align:center;*/
	}

	.menuitem {
		margin:5px 0;
		width:49%;
		/*flex: 50%;*/
		justify-content:center;
	}

	.header-title {
		/*margin:5px 0px;*/
	}

	.menuham {
		display:block;
	}

	.menu-logo {
		flex-direction:row;
		justify-content: space-between;
		width:100%;
		display:flex;
	}

	.menu-logo > * {
		display: inline-flex;
	}
}


.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.italic {
	font-style: italic;
}

body {
	min-height: 100vh;
}

footer, #footer {
	width:100%;
	margin:0;
	padding: 15px 30px;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-top: 3px solid var(--secondary);
	position: absolute;
	bottom:0;
	background-color: var(--bkgd);
	/*z-index: 100;*/
}

footer > * {
	display: flex;
	color: var(--secondary);
	opacity: 0.7;
}

.github-logo {
	opacity: 0.5;
	width: 20px;
	/*height: 30px;*/
	transition: opacity 0.7s ease-out;
}

.github-logo:hover {
	opacity: 1;
	transition: opacity 0.7s ease-out;
}