@import url('https://fonts.googleapis.com/css?family=Work+Sans|Open+Sans&display=swap');

/*colour variables*/
:root {
	/* primary */
	--main: #5d414d;

	/* secondary */
	--secondary: #7e858b;

	--lgt-main: #ccedd2;
	/*tbd*/
	/* background */
	--bkgd: #fafafa;
}

html {
	overflow-y: overlay;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 6px;
}

body::-webkit-scrollbar-track {
	display: none;
}

body::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 10px;
}


* {
	box-sizing: border-box;
}

body {
	background-color: var(--bkgd);
	z-index: -1;
	margin: 0;
	position: relative;
	min-height: 100vh;
}

body > *:not(nav), body > *:not(footer) {
	padding:0 5%;
}

/*text styling*/

.title, h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	color:var(--main);
}

h2 {
	font-weight:600;
}

p, li, small, option, label, td, footer {
	font-family: 'Open Sans', sans-serif;
}

li {
	line-height: 210%;
}

p {
	line-height: 150%;
}

p.more-space {
	line-height: 200%;
}

a, a:visited {
	text-decoration: none;
	color: var(--main); 
	transition: all 0.2s ease-out;
	position:relative;
}

a::before {
	content: "";
	position: absolute;
	width:100%;
	height: 0.15em;
	margin-top:1.5em;
	background: var(--main);
	transform: scaleX(0);
	transition: transform 0.1s ease-out;
}

a:hover::before {
	transform: scaleX(1);
}

a.ignore::before {
	transition: none;
}

a.ignore:hover::before {
	transform: scaleX(0);
}

/*title*/

.title {
	font-size:150%;
	display:inline-block;
	margin-bottom: 15px;

	position:relative;
}

@media (max-width: 550px) {
	.title {
		font-size: 1em;
	}
}

.title-cntr {
	text-align: center;
	margin-bottom: 25px;
	text-align:left;
	position:relative;
	font-size:300%;
}

.title-cntr span {
	display:inline-block;
}

.title-cntr hr {
	position:relative; 
	background-color: var(--main);
	max-width: 200px;
	height: 5px;
	margin: 0;
	border: 1px solid var(--main);
}


/*containers*/

.cntr {
	padding: 0 120px;
	width:100%;
	padding-bottom: 60px;
}

@media screen and (max-width:550px) {
	.cntr {
		padding:0 5%;
	padding-bottom: 60px;
	}
}

.flex-cntr {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*menu bar*/

nav {
	width:100%;
	margin:0;
	padding: 0 5%;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 5px solid var(--main);
	box-shadow: 0px 4px 5px #ccc;
}

nav, nav a:link, nav a:active, nav a:visited   {
	color: var(--main);
	text-decoration: none;
	transition: all 0.2s ease-out;
}

.menubar {
	font-family:'Lato',sans-serif;
	flex-direction: inherit;
	display: flex;
	justify-content: inherit; /*space-between;*/
}

.menuitem {
	text-decoration-line: none;
	display: inline-flex;
	color:inherit;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
}

.menuham {
	display:none;
	cursor: pointer;
}

nav * {
	user-select: none;
}

.header-title {
	color: var(--main);
}

/*responsive menu bar*/

@media screen and (max-width: 550px) {
	nav {
		flex-direction: column;
	}

	.menubar {
		align-items: center;
		display:none;
		flex-direction:row;
		flex-wrap:wrap;
		text-align:center;
		justify-content:center;
		padding-bottom: 10px !important;
	}

	.menuitem {
		margin:5px 0;
		width:49%;
		justify-content:center;
		margin-left: 0;
	}

	.menuham {
		display:block;
	}

	.menu-logo {
		flex-direction:row;
		justify-content: space-between;
		width:100%;
		display:flex;
	}

	.menu-logo > * {
		display: inline-flex;
	}
}


.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.italic {
	font-style: italic;
}

footer, #footer {
	width:100%;
	margin:0;
	padding: 15px 30px;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-top: 3px solid #a3939a;
	position: absolute;
	bottom:0;
	background-color: var(--bkgd);
}

footer > * {
	display: flex;
	color: var(--main);
	opacity: 0.7;
}

.github-logo {
	opacity: 0.5;
	width: 20px;
	transition: opacity 0.7s ease-out;
}

.github-logo:hover {
	opacity: 1;
	transition: opacity 0.7s ease-out;
}

p + ol, p + ul, h2 + ol, h2 + ul, .list {
	margin-top: -0.5em;
}
