form {
	$border-lr: 1px solid grey;
	$border-rad: 5px;

	display:inline-flex;
	flex-flow: column wrap;
	border: $border-lr;
	border-radius: $border-rad;
	position:relative;

	.options {
		// display:inline-flex;
		flex-flow: column wrap;
		position:absolute;
		width:100%;
		transform: translateY(32px);
		border-left: $border-lr;
		border-right: $border-lr;
		display:none;
		
		&:last-child {
			border-bottom:$border-lr {
				left-radius: $border-rad;
				right-radius: $border-rad;
			}
		}
	}
	
	input {
		display:none;
		
		&:checked+label {
			color: white;
		}
	}
	
	label {
		display:inline-block;
	}
	
	.choice {
		padding:5px 16px {
			left:10px;
		}
	}

	// arrow 
	& > :first-child > :first-child::after {
		$border-lr: 3px solid transparent;
		content: '';
		position: relative;
		left: 7px;
		top: 15px;
		width: 0;
		height: 0;
		clear: both;
		border: $border-lr {
			top: 6px solid black;
			bottom: none;
		}
	}

	
	// & > .choice:not(:first-child) {
	// 	display:inline-flex;
	// }
	
	// & > :nth-child(2) {
	// 	border-top: 0.5px solid grey;
	// }
}

