* {
    font-family: "Segoe UI", sans-serif;
}

body {
    padding: 0 60px {
        top: 30px;
    }
}

#name-block {
    text-align: center;
    font-size: 400%;
}

code {
    font-family: Consolas, monospace;
}

small {
    font-style:italic;
    color:grey;
}

p.no-margin {
    margin: 0;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
