* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}
p {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
.container {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

a {
	text-decoration-line: none;
}

a:hover {
	text-decoration-line: underline;
}

.menuitem {
	text-decoration-line: none;
    display: inline-flex;
}

nav {
	width:90%;
	margin: 0px 5%;
	display:inline-flex;
	height:60px;
	flex-direction: inherit;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}

.menubar {
    font-family:'Lato',sans-serif;
    flex-direction: inherit;
    display: flex;
	justify-content: inherit; /*space-between;*/
	min-width: 220px;
}

@media screen and (max-width: 400px) {
	nav {
		flex-direction: column;
		flex-wrap: wrap;
	}

	.menubar {
		align-items: center;
	}

	.menuitem {
		margin:5px 0px;
	}

	.header-title {
		margin:5px 0px;
	}
}