---
heading: work
permalink: /work/
has_icons: true
---

<p>Listed here is a selection of my programming projects. A more extensive list is available <a href="https://github.com/dulldesk?tab=repositories">at my GitHub profile</a>.</p>

<div class="listing">
	{% for project in site.data.projects %}
		<section>
			<div class="body">
				<div>
					<h2>{{ project.name }}</h2>
				</div>
				<div>
					<p>{{ project.caption }}</p>
					<p class="lang">{{ project.langs | join:", " }}</p>
				</div>
			</div>
			<aside>
				{% if project.links.github %}<a href="{{ project.links.github }}" target="_blank" rel="noopener noreferrer"><i class="zmdi zmdi-github zmdi-hc-lg" aria-label="GitHub repository"></i></a> {% endif %}
				{% if project.links.url %}<a href="{{ project.links.url }}" target="_blank" rel="noopener noreferrer"><i class="zmdi zmdi-link zmdi-hc-lg" aria-label="Link"></i></a> {% endif %}
			</aside>
		</section>
		{% unless forloop.last %}<hr size="1">{% endunless %}
	{% endfor %}
</div>
