<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% seo title=false %}
{%- capture default_title -%} {{ page.heading | downcase }} | {{ site.title }} {%- endcapture -%}
<title>{{ page.title | default: default_title }}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
{%- assign dark_theme = "#68534d" -%}
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ dark_theme }}">
<meta name="msapplication-TileColor" content="{{ dark_theme }}">
<meta name="theme-color" content="{{ dark_theme }}">

<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
