$brown-drk: #6F2B17;
$brown-med: #986a2f; 
$brown-lgt: #d6cfc8; 
$mauve: #782b4c;
$black: #042a2b;
$light-red-brown: #bd8b8b;

// grey is lighter than gray
$grey: #7e858b;
$gray: #48433f;

:root {
	--bkgd: #{$brown-lgt};
	--heading: #{$brown-drk};
	--heading-secondary: #{$brown-drk};
	--text: #{$gray};
	--link: #{$mauve};
	--link-fade: #{rgba($mauve, 0.7)};
	--highlight: #{$light-red-brown};
}

$bkgd: unquote("var(--bkgd)");
$head: unquote("var(--heading)");
$head2: unquote("var(--heading-secondary)");
$text: unquote("var(--text)");
$link: unquote("var(--link)"); 
$link-fade: unquote("var(--link-fade)"); 
$highlight: unquote("var(--highlight)"); 
