$brown-drk: #68534D; 
$brown-med: #986a2f; 
$brown-lgt: #d6cfc8; 
$mauve: #782b4c;
$black: #042a2b;

// grey is lighter than gray
$grey: #7e858b;
$gray: #636261;


$bkgd: $brown-lgt;
$head: $brown-drk;
$text: $gray;
$link: $mauve; 
