// @import "utils";

@mixin tablet-main {
	width: revert;
	overflow: revert;
}
@mixin tablet-nav {
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;

	margin: 0 auto;
	width: 100%;

	a::after {
		content: none;
	}
	> a {
		flex-grow: 1;
	}

	.drop {
		flex-flow: row nowrap;
		justify-content: space-around;
		flex-grow: 6;
		gap: 3rem;
		margin-left: 3rem;
	}
}
@mixin mobile-nav {
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;

	margin: 0;

	> a:first-of-type {
		flex-grow: 1;
	}

	.drop {
		display: flex;
		flex-flow: column nowrap;
		flex-basis: 100%;
		max-height: 0;
		overflow: hidden;
		gap: 0;

		position: absolute;
		right: $sidepad-tablet;
		top: 3.5rem;

		a {
			margin: 0;
			display: inline-flex;
		}
	}
}
