// @import "colours";


@media (prefers-color-scheme: dark) {
	:root {
		--bkgd: #{$charcoal};
		--heading: #{$green};
		--heading-secondary: #{$silver};
		--text: #{$white};
		--link: #{$lavendar};
		--link-fade: #{rgba($lavendar, 0.7)};
		--highlight: #{$lighter-green};
	}
}
