// @import "utils";

.v-divider {
	$vr:  div#{&};
	$hr:  hr#{&};

	background: $text;
	opacity: 0.25;
	border: none;
	
	@at-root #{$vr} {
		height: 30vh; 
		width: 2.5px;
		margin: auto 4vw;
	}
	@at-root #{$hr} {
		width: 50vw;
		height: 2px;
		margin: 0.75rem auto;
	}

	@media #{$tablet-media} {
		@at-root #{$hr} {
			display: block;
		}
		@at-root #{$vr} {
			display: none;
		}
	}

	@media screen and (min-width: $tablet - 1) {
		@at-root #{$hr} {
			display: none;
		}
	}

	@media #{$mobile-media} {
		@at-root #{$hr} {
			margin-top: calc($sidepad-tablet / 2);
			visibility: hidden;
		}
	}
}
