@import 'colours';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

$tablet: 720px;
$mobile: 450px;
$tablet-media: "screen and (max-width: #{$tablet})";
$mobile-media: "screen and (max-width: #{$mobile})";


%no-user-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

%scrollbar {
	$thumb: rgba($grey, 0.8);
	$track: rgba(black, 0.1);

	scrollbar-width: thin;
	scrollbar-color: $thumb $track;

	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background-color: $track;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $thumb;
		border-radius: 10px;
	}
}

@mixin padding-vert($pad) {
	padding: {
		top: $pad;
		bottom: $pad;
	}
}

* {
	box-sizing: border-box;
}

body {
	background-color: $bkgd;
	margin: 0;
	height: 100vh;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: $tablet) {
		flex-flow: column nowrap;
		justify-content: flex-start;
	}
}

html, body {
	overflow: hidden;
}

.v-divider {
	$div: div#{&};
	$hr:  hr#{&};

	background: #bdb3a9;
	border: none;
	
	@at-root #{$div} {
		height: 30vh; 
		width: 3px;
		margin: auto 4vw;
	}
	@at-root #{$hr} {
		width: 40vw;
		height: 2px;
		margin: 0.75rem;
	}

	@media #{$tablet-media} {
		@at-root #{$hr} {
			display: block;
		}
		@at-root #{$div} {
			display: none;
		}
	}

	@media screen and (min-width: $tablet - 1) {
		@at-root #{$hr} {
			display: none;
		}
	}

	@media #{$mobile-media} {
		@at-root #{$hr} {
			margin-top: 0.25rem;
		}		
	}
}

nav, main {
	margin: auto;
}

$sidebar_w: 25vw;
$sidepad: 10vw;

nav {
	width: $sidebar_w;
	font-size: 1.4rem;
	display: inline-flex;
	flex-direction: column;

	align-items: flex-end;


	> a:first-of-type {
		color: $head;
		font-weight: bold;
		order: 1;
		display: inline-flex;

		&:hover::after {
			color: $head;
		}

		&::after {
			white-space: pre;
		}
	}

	.drop {
		order: 20;
		display: inline-flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		font-size: 1.25rem;
	}

	a::after {
		content: ' •';
		visibility: hidden;
		color: $grey;
		opacity: 0.6;
		font-weight: normal;
		@extend %no-user-select;
	}

	a.selected::after {
		visibility: visible;
	}

	a:hover::after {
		color: $link;
		visibility: visible;
	}

	@at-root #menu-btn, #menu-btn + label {
		display: none;
		cursor: pointer;
		order: 10;
		@extend %no-user-select;
	}

	@media #{$tablet-media} {
		align-items: center;
		width: 100vw - 2 * $sidepad;
		flex-flow: row wrap;
		justify-content: space-between;

		margin: auto {
			top: 1.5rem;
			bottom: 1rem;
		}

		a::after {
			content: none;
		}

		> a {
			flex-grow: 1;
		}

		.drop {
			flex-flow: row nowrap;
			justify-content: space-around;
			flex-grow: 6;
		}
	}

	@media #{$mobile-media} {
		@at-root #menu-btn + label {
			display: inline-flex;
		}

		> a:first-of-type {
			flex-grow: 0;
		}

		.drop {
			display: flex;
			flex-basis: 100%;
			max-height: 0;
			flex-flow: row wrap;

			justify-content: space-around;
			overflow: hidden;

			a {
				margin: 0.1rem 0.75rem {
					bottom: 0;
				}
				display: inline-flex;
			}
		}

		justify-content: space-between;
		flex-flow: row wrap;

		@at-root #menu-btn:checked ~ .drop {
			max-height: 100%;
		}
	}
}

// main content
main {
	width: 100vw - $sidebar_w;
	overflow-y: hidden;
	max-height: 100vh - 20vh;
	align-items: center;

	@media #{$tablet-media} {
		@include padding-vert(2vh);
		width: 100vw;// - $sidepad;
		max-width: revert;
		padding-left: $sidepad;
		margin: 0 {
			top: 0.5rem;
		}
	}
	// padding-right: 10vw;
	a, a:visited {
		border-bottom: 1.5px solid rgba($link, 0.7);
	}

	a:hover {
		border-bottom-color: transparent;
	}

	> section {
		overflow-y: auto;
		padding-right: $sidepad;
		@extend %scrollbar;
		max-height: 70vh;

		@media #{$mobile-media} {
			height: 65vh;
		}
	}

	h1 {
		position: sticky;
		top: 0;
		padding-bottom: 10px;
		margin-block: 0 {
			// shorthand is experimental in chrome
			start: 0;
			end: 0;
		};
	}

	h1 + hr, h1 > hr {
		width: 10%;
		height: 4px;
		background-color: rgba($text, 0.2);
		border: none;
		margin-left: 0;
		margin-bottom: 0;
	}

	h1 + p {
		margin-block-start: 0.5rem;
	}

	strong, b {
		letter-spacing: 0.25px;
	}
}


.zmdi-hc-lg {
	font-size: 1.5rem;
}

.cntr {

	// card
	> section {
		width: 100%;

		$margin: 1rem;
		margin: {
			top: $margin;
			bottom: $margin;
		};
		padding: 0;

		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;

		> aside {
			display: flex;
			flex-direction: column;	
		}

		> div {
			flex-grow: 2;
		}

		@media #{$mobile-media} {
			height: auto;
		}
	}

	h2 {
		font-size: 1.35rem;
		margin: {
			top: 0;
			bottom: 0.5rem;
		}
		font-family: 'Open Sans', sans-serif;
	}

	p {
		line-height: 1.5rem;
		font-size: 0.9rem;
		margin: 0;
	}

	.lang {
		color: lighten($text, 12%);
		margin-block: {
			start: 0;
			end: 0;
		}
	}

	aside {
		margin-top: 0.2rem;

		a {
			border-bottom: none;
			margin-right: 1rem;
			margin-bottom: 0.5rem;
		}
	}
}

// text styling
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: $head;
}

li, small, option, label, td, footer, p, a {
	font-family: 'Open Sans', sans-serif;
	color: $text;
}

li {
	line-height: 2rem;
}

p {
	line-height: 2rem;
    margin-block-end: 0;
}

p + ol, p + ul {
    margin-block-start: 0.3em;
}

// link styling
a, a:visited, a:hover {
	outline: none;
	text-decoration: none;

	transition: all 0.15s ease-out;
}

a:hover {
	color: $link; 
}


img.wide-img {
	max-width: 90%;
}

.social {
	font-size: 1.2em;

	&.zmdi-linkedin {
		vertical-align: 1%;
	}
}
