@import 'colours';
@import 'utils';
@import 'text.scss';
@import 'divider.scss';
@import 'nav.scss';
@import 'content.scss';
@import 'dark-mode.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: $bkgd;
	margin: 0;
	height: 100vh;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;

	@media #{$tablet-media} {
		flex-flow: column nowrap;
		justify-content: flex-start;
	}
}

html, body {
	overflow: hidden;
}

nav, main {
	margin: auto;
}
