@import 'colours', 'utils';
// @import 'text.scss';
@import 'divider.scss';
// @import 'nav.scss';
@import 'content.scss';
// @import 'root-vars.scss';
// @import 'dark-mode.scss';
@import 'toggle.scss';

* {
	box-sizing: border-box;
}

body {
	// background-color: $bkgd;
	margin: 0;
	height: 100vh;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;

	@media #{$tablet-media} {
		flex-flow: column nowrap;
		justify-content: flex-start;
	}
}

html, body {
	overflow: hidden;
}

nav, main {
	margin: auto;
}

::selection {
	background-color: $highlight;
	color: white;
}
